


<% #Begin Game! %>
<h2> -----------------Welcome to BlackJack!  ----------------\n" </h2>


<% player_sum=calculate(session[:player_card])%>
 <%= "#{session[:player_name]}'s card: #{session[:player_card]} with #{player_sum} points" %>
 <div class="center-block">
      <%= display_cards(session[:player_card][0]) %>
      <%= display_cards(session[:player_card][1]) %>
 </div>
 <br/>
  <% host_sum=calculate(session[:host_card]) %>
 <%=  "Host's card: #{session[:host_card]} with #{host_sum} points" %>
 <div class="center-block">
      <img src= "images/cards/cover.jpg" />
      <%= display_cards(session[:host_card][1]) %>
  </div>
 <% #Player turn %>

<% if player_sum < 21 %>
    <form action="hit" method="post" />
        <input type="submit" name="Hit" class="btn" value="Hit" />
    </form>
    <form action="stay" method="post" />
        <input type="submit" name="Stay" class="btn" value="Stay"/>
    </form>
<% elsif player_sum > 21 %>
    <% @error="You busted " %>
<% elsif player_sum == 21 %>
    <% @success="You got Blackjack!" %>
<%end%>
