<% #Begin Game! %>

<h3>Welcome to BlackJack! </h3>

<%# display host cards %>
<% host_sum=  calculate(session[:host_card]) %>

  <div class="well">
      <% if @host_first_card_on == true %>
        <%= "Host has #{host_sum}" %>
      <% else %>
        <%=  "Host's card:" %>
      <% end %><br/>
      <% session[:host_card].each_with_index do |c, k| %>
        <% if k==0 && @host_first_card_on==false %>
            <img src= "images/cards/cover.jpg" />
        <% else %>
            <%= display_cards(c) %>
        <% end %>
      <% end %><br/>
      <% if @host_button_on == true %>
          <form id="hit_form" action="host_hit" method="post" />
            <input type="submit" class="btn btn-success" value="Proceed to Host's next card >>>" />
          </form>
      <%end%>
  </div>



<% player_sum=  calculate(session[:player_card]) %>
<div class="well">
  <%= "#{session[:player_name]}'s card:" %><br/>
  <% session[:player_card].each do |c| %>
      <%= display_cards(c) %>
<% end %>
 </div>
 


 <% if @player_button_on == true %>
    <%= "#{session[:player_name]} has #{player_sum}, what's next step?" %><br/>
    <form id="hit_form" action="hit" method="post">
            <input type="submit" name="Hit" class="btn btn-success" value="Hit" />
    </form>
    <form id="stay_form" action="stay" method="post">
           <input type="submit" name="Stay" class="btn btn-warning" value="Stay"/>
    </form>
<%end%>
