<% player_card=session[:player_card] %>
<% player_card << session[:deck].pop %>
<% host_card=session[:host_card] %>

 <% player_sum=  calculate(player_card) %>
  <% session[:player_card]=player_card %>
 <%= "#{session[:player_name]}'s card: #{player_card} with #{player_sum} points" %>
<div class="center-block">
<% player_card.each do |c| %>
      <%= display_cards(c) %>
<% end %>
 </div>

 <% host_sum=  calculate(host_card) %>
  <%=  "Host's card: #{host_card} with #{host_sum} points" %>
 <div class="center-block">
      <% host_card.each_with_index do |c, k| %>
      <% if k==0 %>
            <img src= "images/cards/cover.jpg" />
      <% else %>
            <%= display_cards(c) %>
      <% end %>
      <% end %>
  </div>

 <% #Player turn %>
<%= "You busted " if player_sum > 21 %>
<%= "You got BlackJack!" if player_sum == 21 %>
<% if player_sum < 21 %>
    <form action="hit" method="post" />
        <input type="submit" name="Hit" class="btn" value="Hit" />
    </form>
    <form action="stay" method="post" />
        <input type="submit" name="Stay" class="brn" value="Stay"/>
    </form>
<%end%>
